language: python

python:
    - 2.7

install:
    - pip install -r requirements.txt

script:
    cd codefett && coverage run --source='.' ./manage.py test

after_success:
    - coverage report 
    - coveralls 
