.home {
  @include animation('fade-in 1s 1');
  .header {
    width: 100%;
    color: $color_header_font;
    background-size: cover;
    background: url('/static/images/hero-bg.jpg') no-repeat center;

    .content {
      padding-top: 120px;
    }

    &-cover {
      position: absolute;
      width: 100%;
      background: rgba(0, 0, 0, 0.6);
    }
  }
}