{% load staticfiles %}
<footer class="cf-footer">
    <div class="cf-container">
        <div class="gr-6">
            <img src="{% static 'images/logo_small_greyscale.png' %}">
            <div class="license">2017 Codefett is an open source tool under the AGPL License.</div>
        </div>
        <div class="gr-2">
            <div class="title">CODEFETT</div>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Courses</a>
        </div>
        <div class="gr-2">
            <div class="title">CONTRIBUTE</div>
            <a href="#">Github</a>
            <a href="#">Contact</a>
        </div>
        <div class="gr-2">
            <div class="title">MORE</div>
            <a href="#">Terms</a>
            <a href="#">Privacy</a>
            <a href="#">Cookies</a>
        </div>
    </div>
</footer>