{% extends 'common/base.html' %}
{% load i18n staticfiles %}

{% block title %}{% trans 'Home' %}{% endblock title %}

{% block body %}
    {% include 'common/_navbar.html' %}
    <div class="home">
        <div class="cf-hero" style="background-image: url('{% static 'images/books.jpg' %}');">
            <div class="overlay"></div>
            <div class="slogan">
                <div class="cf-container">
                    <div class="title">
                        CODE. TEST. SUCCESS.
                    </div>
                    <div class="subtitle">
                        Automated coding courses for teachers and students.
                    </div>
                </div>
            </div>
        </div>
        <div class="home-separator stats">
            <div class="cf-container">
                <span class="bold">{{ total_courses }}</span> Courses
                <span class="bold"> {{ total_users }}+</span> Students
            </div>
        </div>
        <div class="course-grid">
            <div class="cf-container">
                <h2>
                    Our last courses
                </h2>
                {% for course in courses %}
                    {% include 'courses/_course_grid_unit.html' with object=course %}
                {% endfor %}
            </div>
        </div>

        <div class="how-it-works">
            <div class="cf-container">
                <h2>How it Works</h2>
            </div>
        </div>
        <div class="home-separator"></div>

    {% include 'common/_footer.html' %}
    </div>
{% endblock body %}
