.btn {
  @include font-size(18);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 100%;
  height: 50px;
}

.btn-primary {
  color: #FFF;
  background-color: $btn;
  border-color: $btn;

  &:hover {
    background-color: $btn_hover;
    border-color: $btn;
  }
}

.btn-register {
  @extend .btn-primary;
  background-color: $blue_dark;
  border-color: $blue_dark;

  &:hover {
    background-color: $btn_register_hover !important;
    border-color: $blue_dark !important;
    color: white !important;
  }
}

.btn-register:active, .btn-register:focus {
  background-color: $btn_register_hover !important;
  border-color: $blue_dark !important;
  color: white !important;
}

.btn-primary:active, .btn-primary:focus {
  background-color: $btn_hover;
  border-color: $btn;
}

.btn-browse {
  padding: 13px 18px;
  font-size: 24px;
  font-weight: 200;
}
