.nav {
  text-transform: uppercase;
}

.navbar {
  border-radius: 0;
}

.navbar-default {
  background-color: $color_navbar;
  border: 0;
  border-bottom: 1px solid $color_border;
}

.navbar-brand {
  img {
    height: 30px !important;
    margin-top: -5px;
  }
}