.nav {
  .nav-header {
    @include breakpoint($tablet) {
      display: none
    }

    position: absolute;
    display: block;
    width: 100%;
    height: 120px;
    padding-top: 65px;

    .logo {

    }

    .menu {
      ul{
        list-style-type: none;

        li {
          display: inline;
          margin-left: 15px;
          margin-right: 15px;

          a {
            font-size: 13px;
            color: $color_header_font;

            @include transition(color .6s ease);

            &:hover {
              text-decoration: none;
              color: $color_link;
            }

            &:active {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}