.navbar-mobile {
  position: absolute;
  display: block;
  z-index: 10;
  margin-top: 15px;

  @include breakpoint($desktop) {
    display: none;
  }

  .menu-mobile {
    @include transition(opacity 0.1s ease-out);
    z-index: 10;
    background: $blue_dark;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .container {
      margin-top: 30%;
    }

    .item-mobile {
      @include font-size(34);
      text-transform: uppercase;
      margin-bottom: 20px;

      a {
        color: $white;
        text-decoration: none;
      }
    }

    &.open {
      @include transition(opacity 0.15s ease-in);
      opacity: .9;
      z-index: -1;
      visibility: visible;
      display: block;
    }
  }
}