.cf-panel {
  margin-top: $panel_margin;
  margin-bottom: $panel_margin;
  padding: $panel_padding;
  background-color: $panel_background;

  .panel-header {
  }

  .panel-body {
    @include font-size(14px);
  }

  .panel-footer {}
}
