/* UTILS */
@import 'utils/colors';
@import 'utils/variables';
@import 'utils/breakpoints';

/* MODULES */
@import 'modules/home';
@import 'modules/footer';


/* BASIC COMPONENTS */
@import 'components/buttons';
@import 'components/forms';
@import 'components/navbar';
@import 'components/panels';

/* SMALL COMPONENTS (atoms) */
@import 'components/atoms/loader';

/* GENERAL */
html,
body {
  background-color: $background;
  font-family: 'Roboto', sans-serif;
}

a {
  color: $color_link;
}

a:hover {
  color: $red_light;
}
