/* UTILS */
@import 'utils/mixins';
@import 'utils/colors';
@import 'utils/variables';
@import 'utils/breakpoints';
@import 'utils/animations';
@import 'utils/icons';
@import 'utils/gradients';

/* MODULES */
@import 'modules/home';
@import 'modules/login';
@import 'modules/footer';


/* BASIC COMPONENTS */
@import 'components/buttons';
@import 'components/forms';
@import 'components/navbar-header';
@import 'components/navbar-mobile';
@import 'components/panels';
@import 'components/modals';
@import 'components/text';


/* SMALL COMPONENTS (atoms) */
@import 'components/atoms/loader';


/* Dashboard imports */
@import 'modules/dashboard/main';

/* GENERAL */
html,
body {
  background-color: $background;
  font-family: 'Nunito', sans-serif;
}

a {
  color: $color_link;
}

a:hover {
  color: $red_light;
}
